html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

input::-moz-focus-inner {
  border: 0;
}

/*------------------------------------------------------------------
@global Type
------------------------------------------------------------------*/
body, body input, body button, body td,
#wrapper, #wrapper input, #wrapper button, #wrapper td,
#targeting-wrapper {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #222;
}

p {
  margin: 0 0 1em;
  font-size: 13px;
  line-height: 18px;
}

p.nonLatin {
  font-size: 14px;
  line-height: 21px;
}

li {
  line-height: 17px;
}

a {
  text-decoration: none;
  color: #15c;
  cursor: pointer;
}

.ux-targeting {
  font-size: 0;
  white-space: nowrap;
}

.ux-targeting > .cart,
.ux-targeting > .picker,
.ux-targeting > .reach {
  background: #f1f1f1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  width: 400px;
}

.ux-targeting > .cart {
  border-left: 0;
  width: 400px;
}

.ux-targeting > .reach {
  background: #fafafa;
  border-color: rgba(204, 204, 204, 0.5);
  font-size: 13px;
  height: 450px;
  line-height: 18px;
  margin-left: 10px;
  padding: 10px;
  width: 200px;
  white-space: normal;
}

.ux-targeting > .reach h3 {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.3em;
}

.ux-targeting > .reach .metric {
  font-size: 24px;
}

.ux-targeting > .reach .hint {
  color: #777;
}

.ux-targeting > .reach .fineprint {
  color: #777;
  font-size: 11px;
  line-height: 1.3em;
  margin-top: 1.5em;
}

.ux-targeting textarea {
  resize: none;
}

.ux-targeting > .picker > header,
.ux-targeting > .cart > header.ux-targeting-header {
  background: transparent none !important;
  border-bottom: 1px solid #dddddd !important;
  box-sizing: border-box;
  height: 48px !important;
  font-size: 0;
  /*overflow: hidden;*/
  padding: 10px !important;
  position: static;
  -webkit-transition: all .218s;
}

.ux-targeting > .picker > header::after,
.ux-targeting > .cart > header::after {
  display: none;
}

.ux-targeting > .picker > header.ux-targeting-header > input,
.ux-targeting > .cart > header.ux-targeting-header > input,
.ux-targeting > .picker > header.ux-targeting-header > .filter > input,
.ux-targeting > .cart > header.ux-targeting-header > .filter > input {
  padding-right: 25px;
  width: 378px;
}

.ux-targeting > .picker > header.ux-targeting-header > .filter {
  position: relative;
}

.ux-targeting > .picker > header.ux-targeting-header > .filter::after {
  background: transparent url(/assets/images/svg/search.svg) no-repeat 0 4px;
  content: '';
  height: 29px;
  opacity: .4;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.ux-targeting > .picker > header.ux-targeting-header > .filter.focused::after {
  opacity: 0;
}

.ux-targeting > .picker > header.ux-targeting-header > h3,
.ux-targeting > .cart > header.ux-targeting-header > h3 {
  color: #222;
  font-size: 13px !important;
  font-weight: bold;
  line-height: 2.333em;
  margin: 0;
}

.ux-targeting > .cart > header.ux-targeting-header {
  position: relative;
}

.ux-targeting > .cart > header.ux-targeting-header > .remove {
  background: transparent url(assets/images/svg/close_tab.svg) no-repeat 4px bottom;
  bottom: 11px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 0 !important;
  height: 21px;
  opacity: .2;
  position: absolute;
  right: 10px;
  width: 21px;
  -webkit-transition: opacity .218s;
}

.ux-targeting > .cart > header.ux-targeting-header > .remove::before {
  color: #999 !important;
  content: 'Clear all targeting';
  display: block;
  font-size: 11px;
  height: 15px;
  opacity: 0;
  padding-right: 2px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 100px;
}

.ux-targeting > .cart > header.ux-targeting-header > .remove:hover::before {
  opacity: 1;
}

.ux-targeting > .cart > header.ux-targeting-header:hover > .remove {
  opacity: .5;
}

.ux-targeting > .cart > header.ux-targeting-header > .remove:hover {
  opacity: 1;
}

/* Breadcrumbs
---------------------------------------------------------- */
.path .crumbs {
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  margin: 0;
  min-height: 29px;
  padding: 5px 0 0 5px;
  vertical-align: top;
}
.path .crumbs li {
  display: inline-block;
  vertical-align: top;
}
.path .crumbs li a {
  box-sizing: border-box;
  color: #666;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  margin-left: 3px;
  text-decoration: none;
}
.path .crumbs li:last-of-type a {
  color: #000;
  cursor: default;
  text-decoration: none;
}
.path .crumbs li a::after {
  color: #999;
  content: ' ›';
  font-weight: normal;
}

.path > .ux-button {
  margin-top: 1px;
  vertical-align: top;
}

.picker {
  position: relative;
}

.picker .path,
.picker .filter-bar {
  display: none;
}

.picker.crummy .path {
  box-sizing: border-box;
  height: 35px;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  font-size: 11px;
  padding: 3px 5px 2px;
  position: relative;
}

.picker.filtered .filter-bar {
  box-sizing: border-box;
  height: 35px;
  background: #fbf2ce;
  border-bottom: 1px solid #f6dc7f;
  display: block;
  font-size: 11px;
  padding: 3px 5px 2px;
  position: relative;
}

.picker.filtered .filter-bar {
  line-height: 28px;
  padding-left: 10px;
  white-space: nowrap;
}

.picker.crummy .path .ux-button.close,
.picker.filtered .filter-bar .ux-button.close,
.picker.crummy .path .close,
.picker.filtered .filter-bar .close {
  position: absolute;
  right: 5px;
}

.close {
  background: transparent url(assets/images/svg/close_tab.svg) no-repeat 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 21px;
  opacity: .25;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 21px;
  -webkit-transition: all .218s;
}

.picker .path:hover .close,
.picker .filter-bar:hover .close {
  opacity: .5;
}

.picker .path .close:hover,
.picker .filter-bar .close:hover {
  opacity: 1;
}

/* Options menu
---------------------------------------------------------- */
.ux-targeting .options {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  height: 450px;
  list-style: none;
  margin: 0;
  padding: 20px 0 0;
  width: 170px;
}
.ux-targeting .options + .picker {
  border-left: 0;
}
.ux-targeting .options li {
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  height: 29px;
  line-height: 28px;
  padding-left: 35px;
}
.ux-targeting .options li a {
  color: #15c;
  cursor: pointer !important;
  display: block;
  text-decoration: none;
}
.ux-targeting .options li a:hover {
  color: #15c;
  text-decoration: underline;
}
.ux-targeting .options li a:active {
  color: #dd4b39;
}
.ux-targeting .options li.selected a, .ux-targeting .options li[selected] a, .ux-targeting .options li.selected a:hover, .ux-targeting .options li[selected] a:hover {
  cursor: default !important;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

  /* Shopping cart
---------------------------------------------------------- */
.ux-targeting .cart > .targets {
  background: -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, -webkit-radial-gradient(50% 0, farthest-corner, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), -webkit-radial-gradient(50% 100%, farthest-corner, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 10px, 100% 10px, 100% 3px, 100% 3px;
  box-sizing: border-box;
  height: 400px;
  overflow: auto;
}

.ux-targeting .targets .empty {
  color: #bbb;
  display: block;
  font-size: 11px;
  margin-left: 10px;
  padding: 4px 0 2px;
  text-transform: lowercase;
}

.ux-targeting .targets > .cart-instructions {
  color: #999;
  display: block;
  font-size: 13px;
  padding: 5px 10px 10px;
}

.ux-targeting .targets > dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ux-targeting .targets > dl > dt,
.ux-targeting .targets > dl > dd {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.ux-targeting .targets > dl > dt {
  background: #fafafa;
  border-top: 1px solid #ebebeb;
  box-sizing: border-box;
  color: #202020;
  cursor: default;
  font-weight: bold;
  height: 25px;
  line-height: 24px;
  margin-top: 25px;
  overflow: hidden;
  padding: 0 10px;
  -webkit-user-select: none;
}

.ux-targeting .targets > dl:first-of-type > dt {
  border-top-color: transparent;
  margin-top: 0;
}

.ux-targeting .targets > dl:last-of-type dd {
  padding-bottom: 25px;
}

.ux-targeting .targets dd ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ux-targeting .targets dd li {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: background-color .130s;
}

.ux-targeting .targets dd li > .item {
  /*background: rgba(255,0,0,.05);*/
  border-bottom: 1px solid #ebebeb;
  display: block;
  margin: 0 10px;
  min-height: 20px;
  padding: 3px 0;
  position: relative;
}

/*  .ux-targeting .targets dd li:last-of-type > .item {
    border-bottom: 1px solid transparent;
  }
*/
.ux-targeting .targets dd li:hover {
  background-color: #fafafa;
}

.ux-targeting .targets dd li.not::after {
  color: #900;
  content: 'not';
  display: block;
  font-size: 11px;
  font-weight: bold;
  left: 0;
  min-height: 20px;
  padding: 3px 3px 0 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 27px;
}

.ux-targeting .targets dd li.not > .item {
  margin-left: 35px;
  /*padding-left: 5px;*/
}

.ux-targeting .targets dd li > .item > span {
  display: block;
  font-size: 13px !important;
  padding-right: 24px;
  padding-top: 1px;
  vertical-align: top;
  white-space: normal;
}

.ux-targeting .targets dd li > .item > span[data-entity]::after {
  color: #aaa;
  content: attr(data-entity);
  font-size: 11px;
  margin-left: .5em;
}

.ux-targeting .targets .bucket {
  margin-bottom: 5px;
}

.ux-targeting .targets .bucket:last-of-type {
  margin-bottom: 0;
}

.ux-targeting .targets .bucket > ol > li > .item .crumbs {
  color: #777;
  /*display: none;*/
  font-size: 11px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ux-targeting .targets .bucket > ol > li:first-of-type .item .crumbs {
  display: block;
}

.ux-targeting .targets dd li > .item .remove {
  background: transparent url(assets/images/svg/close_tab.svg) no-repeat 4px bottom;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 0 !important;
  height: 21px;
  opacity: .2;
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 21px;
  -webkit-transition: opacity .218s;
}

.ux-targeting .targets dd li > .item:hover .remove {
  opacity: .5;
}

.ux-targeting .targets dd li > .item .remove:hover {
  opacity: 1;
}

.ux-targeting .targets .crumbs > li {
  color: #777;
  display: inline-block;
  margin-right: .25em;
}

.ux-targeting .targets .crumbs > li::after {
  content: '›';
  margin-left: .25em;
}

.ux-targeting .sourced-contents .instructions {
  padding: 10px 10px 0;
}

.ux-targeting .sourced-contents p {
  margin: 0;
  white-space: normal;
}

.ux-targeting .sourced-contents .ux-segmentedcontrol {
  margin-left: 1px;
  margin-top: 5px;
}

.not {
  color: #900;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  min-height: 20px;
  text-align: right;
  width: 27px;
}

.ux-targeting .options a {
  color: #15c;
  text-decoration: none;
  -webkit-transition: all .218s;
}

.ux-targeting > .options {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  height: 450px;
  list-style: none;
  margin: 0;
  padding: 20px 0 0;
  width: 170px;
}

.ux-targeting > .options > li {
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  height: 29px;
  line-height: 28px;
  padding-left: 35px;
}

.ux-targeting > .options > li a:hover {
  text-decoration: underline;
}

.ux-targeting > .options > li.selected a,
.ux-targeting > .options > li.selected a:hover {
  cursor: default !important;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.ux-targeting > .options > li a {
  color: #15c;
  cursor: pointer !important;
  display: block;
  text-decoration: none;
}

.ux-targeting {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  color: #222;
}

.options {
  width: 170px;
  border: solid 1px #ccc;
  border-right: none;
  box-sizing: border-box;
  padding-top: 20px;
  margin: 0;
  height: 450px;
}

.options li {
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  height: 29px;
  line-height: 28px;
  padding-left: 35px;
}

.options li.selected a {
  font-weight: bold;
  color: black;
}

.options li:not(.selected) a:hover {
  text-decoration: underline;
}

#targeting-wrapper {
  position: relative;
  height: 450px;
}

#targeting-wrapper .options {
  position: absolute;
  top: 0;
  left: 0;
}

#targeting-wrapper .picker {
  position: absolute;
  top: 0;
  left: 170px;
}

#targeting-wrapper > .picker :not(.selected) {
  display: none;
}

#targeting-wrapper acx-cart {
  position: absolute;
  top: 0;
  left: 570px;
}



@charset "UTF-8";
/* global */
input {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: transparent;
}

input[type=text] {
  height: 29px;
  background-color: #FFF;
  line-height: 27px;
  padding-left: 8px;
  color: #333;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  display: inline-block;
  /* vertical-align: top; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
}

input[type=text],
textarea {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  border-top-color: #c0c0c0;
  box-sizing: border-box;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  height: 29px;
  line-height: 27px;
  padding: 5px 2px 5px 8px;
  vertical-align: baseline;
  /* ccalo: this needs to be baseline; */
  width: 350px;
}

input::-moz-focus-inner {
  border: 0;
}

/*------------------------------------------------------------------
@global Type
------------------------------------------------------------------*/
section, div {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #222;
}

p {
  margin: 0 0 1em;
  font-size: 13px;
  line-height: 18px;
}

p.nonLatin {
  font-size: 14px;
  line-height: 21px;
}

li {
  line-height: 17px;
}

a {
  text-decoration: none;
  color: #15c;
  cursor: pointer;
}

a:visited {
  color: #61c;
}

a:active {
  color: #d14836;
}

a.secondary {
  text-decoration: none;
  color: #2D9AE3;
}

strong, b {
  color: #000;
  font-weight: bold;
}

em {
  font-style: italic;
}

div.mobile {
  width: 320px;
}

/* Form inputs
---------------------------------------------------------- */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.ux-input-placeholder {
  color: #999;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  position: relative;
  top: 1px;
  -webkit-transition: opacity .218s;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
.focus .ux-input-placeholder {
  opacity: .2;
}

input[disabled] {
  cursor: default;
}

input[disabled]::-webkit-input-placeholder,
input[readonly]::-webkit-input-placeholder,
textarea[disabled]::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
.readonly .ux-input-placeholder {
  opacity: 0;
  -webkit-appearance: none;
}

input {
  color: #333;
}

input[type=text],
textarea,
input[type=search] {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  border-top-color: #c0c0c0;
  box-sizing: border-box;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  height: 29px;
  line-height: 27px;
  padding: 5px 2px 5px 8px;
  vertical-align: baseline;
  /* ccalo: this needs to be baseline */
  width: 350px;
}

input[type=text]:hover,
textarea:hover {
  border-color: #b9b9b9;
  border-top-color: #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus,
textarea:focus {
  border-color: #4d90fe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

.ux-targeting {
  font-size: 0;
  white-space: nowrap;
}

.ux-targeting textarea {
  resize: none;
}

.ux-targeting > .picker {
  background: #f1f1f1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  width: 400px;
}

.ux-targeting > .picker > header {
  background: transparent none !important;
  border-bottom: 1px solid #dddddd !important;
  box-sizing: border-box;
  height: 48px !important;
  font-size: 0;
  /* overflow: hidden; */
  padding: 10px !important;
  position: static;
  -webkit-transition: all .218s;
}

.ux-targeting > .picker > header::after {
  display: none;
}

.ux-targeting > .picker > header.ux-targeting-header > .filter {
  position: relative;
}

.ux-targeting > .picker > header.ux-targeting-header > .filter::after {
  background: transparent url(assets/images/svg/search.svg) no-repeat 0 4px;
  content: '';
  height: 29px;
  opacity: .4;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.ux-targeting > .picker > header.ux-targeting-header > input,
.ux-targeting > .picker > header.ux-targeting-header > .filter > input {
  padding-right: 25px;
  width: 378px;
}

.picker {
  position: relative;
}

/* Picker contents
  ---------------------------------------------------------- */
.ux-targeting .picker .picker-contents {
  background-color: #fff;
  height: 400px;
  -webkit-transition: all .218s;
  overflow: auto;
  /* overflow-x: hidden; */
}

.ux-targeting .picker .picker-contents:not(.sourced) {
  background: #fff;
}

.ux-targeting .picker.header-labels .picker-contents {
  height: 426px;
}

.ux-targeting .picker:not(.header-labels) .picker-contents-header {
  display: none;
}

.ux-targeting .picker.header-labels .picker-contents-header {
  background: #fafafa;
  border-top: 1px solid #dddddd;
  box-sizing: border-box;
  color: #222;
  display: block;
  height: 24px;
  padding: 0 10px;
  position: relative;
}

.ux-targeting .picker-contents-header label {
  box-sizing: border-box;
  color: #777;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  line-height: 23px;
  padding: 0;
  vertical-align: top;
}

.ux-targeting > .picker > header.ux-targeting-header > h3, .ux-targeting > .cart > header.ux-targeting-header > h3 {
  color: #222;
  font-size: 13px !important;
  font-weight: bold;
  line-height: 2.333em;
  margin: 0;
}

.picker-contents > .sourced-contents {
  font-size: 13px;
}

.picker-contents > ol {
  background: -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, -webkit-radial-gradient(50% 0, farthest-corner, rgba(0, 0, 0, 0.15), transparent), -webkit-radial-gradient(50% 100%, farthest-corner, rgba(0, 0, 0, 0.15), transparent) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 10px, 100% 10px, 100% 3px, 100% 3px;
  box-sizing: border-box;
  /*max-height: 400px;*/
  list-style: none;
  margin: 0;
  /*overflow: hidden;
  overflow-y: auto;*/
  padding: 0;
  -webkit-transition: background-image .218s;
}

.crummy .picker-contents > ol,
.filtered .picker-contents > ol {
  height: 365px;
}

.filtered:not(.crummy) .picker-contents > ol {
  height: 365px;
}

.crummy.filtered.filtermessage .picker-contents > ol {
  height: 330px;
}

.filtered:not(.filtermessage) .picker-contents > ol {
  height: 400px;
}

.crummy.filtered:not(.filtermessage) .picker-contents > ol {
  height: 365px;
}

.picker-contents > ol > li {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: background-color .130s;
  -webkit-user-select: none;
}

.picker-contents > ol > li:hover {
  background-color: #eee;
}

.picker-contents > ol > li[placeholder]::after {
  color: #ccc;
  content: attr(placeholder);
  display: inline-block;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  opacity: 1;
  padding-right: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100px;
  z-index: 10;
}

.picker-contents > ol > li[placeholder]:hover::after {
  opacity: 1;
}

.picker-contents > ol > li .right {
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  height: 29px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.picker-contents > ol > li .metric {
  box-sizing: border-box;
  display: block;
  color: #999;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  position: absolute;
  right: 100px;
  top: 0;
  z-index: 10;
}

.picker-contents > ol > li .ux-button {
  background: transparent none;
  border-color: transparent;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: #aaa;
  /*font-size: 13px;*/
  /*font-weight: normal;*/
  text-align: right;
  position: relative;
  z-index: 15;
  -webkit-transition: background-color .130s,border-color .130s,padding .130s,opacity .130s;
}

.picker-contents > ol > li .ux-button + .ux-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.picker-contents > ol > li .ux-button.hidden + .ux-button {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

/*  .picker-contents > ol > li .ux-slidetoggle .trigger {
    background: transparent;
    border-color: transparent;
    z-index: 1000 !important;
    -webkit-transition: all .218s;
  }
*/
.picker-contents > ol > li:hover .ux-button.add {
  border: 1px solid #3079ed;
  background: #4d90fe -webkit-linear-gradient(top, #4d90fe, #4787ed);
  color: #fff;
  font-weight: bold;
  min-width: 72px;
  padding: 0 20px 0 8px !important;
  text-align: right;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.picker-contents > ol > li:hover .ux-button.add,
.picker-contents > ol > li:hover .ux-button.active {
  border-color: #3079ed;
  background: #4d90fe -webkit-linear-gradient(top, #4d90fe, #4787ed);
  color: #fff;
  font-weight: normal;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.picker-contents > ol > li:hover .ux-button.active {
  font-weight: bold;
}

.picker-contents > ol > li .ux-slidetoggle .trigger {
  background: transparent;
  border-color: transparent;
  width: 0;
}

.picker-contents > ol > li:hover .ux-slidetoggle .trigger {
  background: whitesmoke -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  width: 20px;
}

.picker-contents > ol > li .ux-slidetoggle .trigger:hover,
.picker-contents > ol > li:hover .ux-slidetoggle .trigger:hover {
  background: #f8f8f8 -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border-color: #c6c6c6 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
}

.picker-contents > ol > li .ux-slidetoggle .trigger:active {
  background: #f6f6f6 -webkit-linear-gradient(top, #f6f6f6, #f1f1f1) !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.picker-contents > ol > li:hover .ux-button.undoable {
  background: whitesmoke -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: #444;
}

.picker-contents > ol > li .ux-button.active:hover,
.picker-contents > ol > li .ux-button.add:hover {
  border-color: #2f5bb7;
  background: #357ae8 -webkit-linear-gradient(top, #4d90fe, #357ae8);
  box-shadow: none;
}

.picker-contents > ol > li .ux-button.undoable:hover {
  background: #f7f7f7 -webkit-linear-gradient(top, #f7f7f7, #f1f1f1);
  border-color: #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}

.picker-contents > ol > li:hover .ux-button.add {
  padding-right: 16px;
}

.picker-contents > ol > li .ux-button.undoable:active {
  background: whitesmoke -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

.picker-contents > ol > li .ux-button.add:active,
.picker-contents > ol > li .ux-button.active:active {
  border-color: #2f5bb7;
  background: #357ae8 -webkit-linear-gradient(top, #4d90fe, #357ae8);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.picker-contents > ol > li .ux-slidetoggle .ux-button:not(.active):hover {
  color: #444 !important;
}

.picker-contents .ux-button.add,
.picker-contents .ux-button.undoable {
  padding-right: 20px;
}

.picker-contents .ux-button.undoable,
.picker-contents .ux-button.add.undoable {
  color: #ccc;
  font-weight: normal;
  padding-right: 23px !important;
}

.picker-contents > ol > li:hover .ux-button.undoable,
.picker-contents > ol > li:hover .ux-button.add.undoable {
  color: #999;
  padding-right: 23px !important;
}

.picker-contents .ux-button.add::after,
.picker-contents .ux-button.undoable::after {
  background: transparent url(/assets/images/svg/next.svg) no-repeat 0 0 !important;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 21px;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 3px;
  width: 21px;
}

.picker-contents > ol > li:hover .ux-button.add:not(.undoable)::after {
  background-image: url(/assets/images/svg/next_white.svg) !important;
  opacity: .7;
}

.picker-contents .ux-button.undoable::after {
  background-image: url(assets/images/svg/undo.svg) !important;
  background-position: 2px 2px;
  background-size: 90%;
}

.picker-contents > ol > li:hover .ux-button.undoable::after {
  opacity: .5;
}

.picker-contents > ol > li .ux-button.undoable:hover::after {
  opacity: .75;
}

.picker-contents > ol > li .ux-button.add:hover::after {
  opacity: 1;
}

.picker-contents .item {
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  text-overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
}

.picker-contents .item.parent {
  /*color: #15c;*/
  cursor: pointer;
  padding-left: 28px;
}

.picker-contents .item .flat-crumbs {
  color: #999;
  font-size: 11px;
}

.picker-contents li:hover .item.parent > span {
  color: #15c;
}

.picker-contents .item.parent:hover > span {
  color: #15c;
  text-decoration: underline;
}

.picker-contents .item.parent::after {
  /*background: transparent url(/assets/images/svg/disclosure_arrow.svg) no-repeat 0 0;*/
  /*background: transparent url(/assets/images/svg/folder_small.svg) no-repeat 0 0;*/
  background: transparent url(assets/images/svg/folder.svg) no-repeat 0 0;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 21px;
  opacity: .25;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 21px;
}

.picker-contents li:hover .item.parent::after {
  opacity: .4;
}

.picker-contents li .item.parent:hover::after {
  opacity: .75 !important;
}

.picker-contents .item.parent::after {
  /*background: transparent url(/assets/images/svg/folder_small.svg) no-repeat 0 0;*/
  background: transparent url(assets/images/svg/folder.svg) no-repeat 0 0;
}

.picker-contents .item.parent:hover::after {
  /*background-image: url(/assets/images/svg/folder_small_open.svg);*/
  background-image: url(assets/images/svg/folder_open.svg);
  background-position: 0 -1px;
}

.picker-contents li .item:not(.geo) > label::after {
  color: #093;
  content: " " attr(data-after);
  font-size: 11px;
  text-decoration: none !important;
}

.picker-contents li .item > label::before {
  color: #093;
  content: " " attr(data-reach);
  font-size: 11px;
  text-decoration: none !important;
}

.picker-contents .picker-bulk-text {
  font-family: "Monaco", "Courier New", courier, monospace;
  font-size: 12px;
  height: 300px;
  margin: 10px 10px 10px 11px;
  position: relative;
  width: 377px;
}

.picker-contents .picker-bulk-text.domains {
  height: 220px;
}

.picker-contents .picker-bulk-text.error {
  border-left: 3px solid #DD4B39;
}

/* Tweaked scrollbar for picker - no margin between visible scrollbar track/thumb and picker contents
---------------------------------------------------------- */
.picker-contents > ol::-webkit-scrollbar,
.cart > .targets::-webkit-scrollbar {
  width: 9px;
}

.picker-contents > ol::-webkit-scrollbar-track,
.cart > .targets::-webkit-scrollbar-track {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0;
}

.picker-contents > ol::-webkit-scrollbar-button,
.cart > .targets::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.picker-contents > ol::-webkit-scrollbar-track:vertical,
.cart > .targets::-webkit-scrollbar-track:vertical {
  border-left: 0;
  border-right: 0;
  background-clip: border-box !important;
  background-color: #fff;
}

.picker-contents > ol::-webkit-scrollbar-track:vertical:hover,
.cart > .targets::-webkit-scrollbar-track:vertical:hover {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.picker-contents > ol::-webkit-scrollbar-track:vertical:active,
.cart > .targets::-webkit-scrollbar-track:vertical:active {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.14), inset -1px -1px 0px rgba(0, 0, 0, 0.07);
}

.picker-contents > ol::-webkit-scrollbar-thumb,
.cart > .targets::-webkit-scrollbar-thumb {
  min-height: 28px;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: border-box !important;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all .13s;
}

.picker-contents:hover > ol::-webkit-scrollbar-thumb,
.cart:hover > .targets::-webkit-scrollbar-thumb {
  min-height: 28px;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: border-box !important;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.picker-contents > ol::-webkit-scrollbar-thumb:hover,
.cart > .targets::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.picker-contents > ol::-webkit-scrollbar-thumb:active,
.cart > .targets::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.45);
}

 /* Breadcrumbs
---------------------------------------------------------- */
.path .crumbs {
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  margin: 0;
  min-height: 29px;
  padding: 5px 0 0 5px;
  vertical-align: top;
}

.path .crumbs > li {
  display: inline-block;
  vertical-align: top;
}

.path .crumbs > li a {
  box-sizing: border-box;
  color: #666;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  margin-left: 3px;
  text-decoration: none;
}

.path .crumbs > li:last-of-type a {
  color: #000;
  cursor: default;
  text-decoration: none;
}

.path .crumbs > li a::after {
  color: #999;
  content: ' ›';
  font-weight: normal;
}

.path > .ux-button {
  margin-top: 1px;
  vertical-align: top;
}

.picker {
  position: relative;
}

.picker .path,
.picker .filter-bar {
  display: none;
}

.picker.crummy .path {
  box-sizing: border-box;
  height: 35px;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  font-size: 11px;
  padding: 3px 5px 2px;
  position: relative;
}

.picker.filtered .filter-bar {
  box-sizing: border-box;
  height: 35px;
  background: #fbf2ce;
  border-bottom: 1px solid #f6dc7f;
  display: block;
  font-size: 11px;
  padding: 3px 5px 2px;
  position: relative;
}

.picker.filtered .filter-bar {
  line-height: 28px;
  padding-left: 10px;
  white-space: nowrap;
}

.picker.crummy .path .ux-button.close,
.picker.filtered .filter-bar .ux-button.close,
.picker.crummy .path .close,
.picker.filtered .filter-bar .close {
  position: absolute;
  right: 5px;
}

.close {
  background: transparent url(/assets/images/svg/close_tab.svg) no-repeat 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 21px;
  opacity: .25;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 21px;
  -webkit-transition: all .218s;
}

.picker .path:hover .close,
.picker .filter-bar:hover .close {
  opacity: .5;
}

.picker .path .close:hover,
.picker .filter-bar .close:hover {
  opacity: 1;
}

/* Slide button
---------------------------------------------------------- */
.ux-slidetoggle {
  display: inline-block;
  float: right;
  position: relative;
  text-align: right;
  vertical-align: top;
  /*-webkit-transition: all .218s;*/
}

.ux-slidetoggle button {
  display: inline-block;
  margin: 0 !important;
  vertical-align: top;
  -webkit-transition-timing-function: ease-out !important;
}

.ux-slidetoggle .trigger {
  display: none;
}

.ux-slidetoggle button + button {
  border-radius: 0;
  margin-left: -1px !important;
}

.ux-slidetoggle button:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ux-slidetoggle button:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ux-slidetoggle button.active {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.ux-slidetoggle button:not(.active) {
  box-sizing: border-box;
  border-color: transparent;
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
  width: 0;
  /*-webkit-transition: all .218s;*/
}

/*.ux-slidetoggle:not(.single):hover button:not(.active) {*/
.ux-slidetoggle.open button:not(.active) {
  border-color: rgba(0, 0, 0, 0.1);
  color: #444;
  min-width: inherit;
  opacity: 1;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}

/*
.ux-slidetoggle.open .trigger {
  opacity: 0;
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ux-slidetoggle:not(.single):hover .trigger::after {
.ux-slidetoggle.open .trigger::after {
  background-image: url(/assets/images/svg/arrow_more.svg);
}*/
.ux-slidetoggle.single button:not(.active),
.ux-slidetoggle.single .trigger {
  display: none;
}

.ux-slidetoggle.single .trigger {
  opacity: 0;
  width: 0;
}

/* Standard buttons
---------------------------------------------------------- */
.ux-button {
  background: whitesmoke -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  margin: 0;
  min-width: 54px;
  outline: none;
  padding: 0 8px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-transition: all .218s;
  -webkit-user-select: none;
}

.ux-button:hover {
  background: #f8f8f8 -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border-color: #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}

.ux-button:active {
  background: #f6f6f6 -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  outline: none;
}

.ux-button:focus {
  border-color: #4d90fe;
  outline: none;
}

.ux-button[disabled],
.ux-button[disabled]:active,
.ux-button[disabled]:hover,
.ux-button[disabled]:focus {
  background: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.05) !important;
  color: #b8b8b8;
  cursor: default;
  outline: none !important;
  pointer-events: none;
}

.ux-button.selected {
  background: #eeeeee -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Icon buttons
---------------------------------------------------------- */
.ux-button.icon.small,
.toolbar .ux-button.icon {
  box-sizing: border-box;
  height: 26px;
  min-width: 27px;
  position: relative;
  width: 27px;
}

.toolbar .ux-button {
  background: transparent;
  border-color: transparent;
}

.toolbar .ux-button:hover {
  background: #f7f7f7 -webkit-linear-gradient(top, #f7f7f7, #f1f1f1);
  border-color: rgba(0, 0, 0, 0.2);
}

.toolbar .ux-button:active {
  background: whitesmoke -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
}

.toolbar .ux-button::after,
.ux-button.icon::after,
.ux-button.search::after {
  background: transparent none no-repeat 0 0;
  content: '';
  display: block;
  height: 21px;
  left: 8px;
  opacity: .5;
  position: relative;
  width: 21px;
}

.ux-button.icon:hover::after {
  opacity: .75;
}

.ux-button.icon:active::after {
  opacity: 1;
}

.ux-button.back::after {
  background-image: url(assets/images/svg/back.svg);
}

.ux-button.directory-up::after {
  background-image: url(assets/images/svg/back.svg) !important;
  left: 2px;
  position: absolute;
  top: 2px;
}

.ux-button.save {
  background: #4d90fe -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  min-width: 72px;
  padding: 0 8px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.ux-buttons {
  /* button container inside a form */
  font-size: 0;
  /* eliminate extra space between inline-block buttons */
  margin-top: 20px;
}

.ux-buttons button {
  margin-left: 16px;
}

.ux-buttons > button:first-of-type {
  margin-left: 0;
}

.ux-buttons .right {
  float: right;
}

span.dwn-arw {
  border-color: #909090 transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  width: 0;
  height: 0;
  padding-top: 1px;
  display: inline-block;
}

#keywords_content .ux-buttons {
  font-size: 0;
  margin: 0 12px;
}
